In [ ]:
### 1.create a dataframe where it consists of columns like name,dept,salary filter by department group by department

In [1]:
import pandas as pd

# Create employee dataframe
employees = pd.DataFrame({
    "name": ["Asha", "Rahul", "Kiran", "Sneha", "Arjun", "Meera"],
    "dept": ["HR", "IT", "IT", "Finance", "HR", "Finance"],
    "salary": [40000, 60000, 65000, 50000, 42000, 52000]
})

print("Employee DataFrame:")
print(employees)

Employee DataFrame:
    name     dept  salary
0   Asha       HR   40000
1  Rahul       IT   60000
2  Kiran       IT   65000
3  Sneha  Finance   50000
4  Arjun       HR   42000
5  Meera  Finance   52000

In [2]:
it_employees = employees[employees["dept"] == "IT"]

print("\nFiltered Employees (IT Department):")
print(it_employees)

Filtered Employees (IT Department):
    name dept  salary
1  Rahul   IT   60000
2  Kiran   IT   65000

In [3]:
grouped_data = employees.groupby("dept")["salary"].mean().reset_index()

print("\nAverage Salary by Department:")
print(grouped_data)

Average Salary by Department:
      dept   salary
0  Finance  51000.0
1       HR  41000.0
2       IT  62500.0

In [ ]:
### 2.create a dataframe where it consistss of columns like product id,product name,quantity and sales find the top 5 product based on the total sales

In [4]:
import pandas as pd

# Create Product DataFrame
products = pd.DataFrame({
    "product_id": [101, 102, 103, 104, 105, 106, 107],
    "product_name": ["Laptop", "Mouse", "Keyboard", "Monitor", "Printer", "Tablet", "Mobile"],
    "quantity": [10, 50, 40, 20, 15, 25, 30],
    "sales": [500000, 25000, 40000, 150000, 75000, 200000, 350000]
})

print("Product DataFrame:")
print(products)

Product DataFrame:
   product_id product_name  quantity   sales
0         101       Laptop        10  500000
1         102        Mouse        50   25000
2         103     Keyboard        40   40000
3         104      Monitor        20  150000
4         105      Printer        15   75000
5         106       Tablet        25  200000
6         107       Mobile        30  350000

In [5]:
top_5_products = products.sort_values(by="sales", ascending=False).head(5)

print("\nTop 5 Products Based on Sales:")
print(top_5_products)

Top 5 Products Based on Sales:
   product_id product_name  quantity   sales
0         101       Laptop        10  500000
6         107       Mobile        30  350000
5         106       Tablet        25  200000
3         104      Monitor        20  150000
4         105      Printer        15   75000

In [ ]:
### 3.create two datasets customer details and order details merge the two datasets on the basis of customer_id

In [8]:
import pandas as pd

# Customer Details DataFrame
customers = pd.DataFrame({
    "customer_id": [1, 2, 3, 4],
    "customer_name": ["Ravi", "Anita", "Vikram", "Priya"],
    "city": ["Delhi", "Mumbai", "Chennai", "Bangalore"]
})

print("Customer Details:")
print(customers)

Customer Details:
   customer_id customer_name       city
0            1          Ravi      Delhi
1            2         Anita     Mumbai
2            3        Vikram    Chennai
3            4         Priya  Bangalore

In [9]:
# Order Details DataFrame
orders = pd.DataFrame({
    "order_id": [101, 102, 103, 104, 105],
    "customer_id": [1, 2, 1, 3, 5],
    "order_amount": [5000, 7000, 3000, 9000, 4000]
})

print("\nOrder Details:")
print(orders)

Order Details:
   order_id  customer_id  order_amount
0       101            1          5000
1       102            2          7000
2       103            1          3000
3       104            3          9000
4       105            5          4000

##### What is Pandas? What are the important features of Pandas?
Pandas is an open-source Python library used for data analysis and data manipulation. It provides two main data structures: Series (1D) and DataFrame (2D). Important features include handling missing data, data alignment and indexing, grouping and aggregation, filtering and sorting, merging and joining datasets, time series support, and reading/writing data from formats like CSV, Excel, SQL, and JSON.

##### How do you handle large datasets efficiently in Pandas?
To handle large datasets efficiently, use chunksize while reading files, load only required columns using usecols, convert columns to proper data types like category, use vectorized operations instead of loops, filter data using query(), and consider tools like Dask or PySpark for very large datasets.

##### What are the different methods available in Series and their purpose?
Common Series methods include head() to view first rows, tail() to view last rows, mean() to calculate average, sum() for total, max() and min() for highest and lowest values, value_counts() to count unique values, unique() to get distinct values, isnull() to check missing values, fillna() to replace missing values, and astype() to change data type.

##### How do you optimize memory usage in Pandas?
Memory can be optimized by converting object columns to category type, downcasting numeric columns using pd.to_numeric(), removing unnecessary columns, checking memory usage with memory_usage(), and reading large files in chunks.

##### Explain about groupby method in Pandas.
The groupby() method is used to split data into groups based on a column and apply aggregation functions like sum(), mean(), count(), max(), or min(). It is mainly used for summarizing and analyzing grouped data.

##### What is the difference between Series and DataFrame?
A Series is a one-dimensional data structure that represents a single column of data. A DataFrame is a two-dimensional table with multiple columns and rows. Series contains only one data type, whereas a DataFrame can contain multiple data types.

In [11]:
import pandas as pd

# Load dataset
df = pd.read_csv(r"C:\Users\yashu\Desktop\Internship\inventory.csv")

# Print success message
print("Data load successful")

# Display first 5 rows
print(df.head())

Data load successful
   ProductID   Product     Category  Price  Quantity
0          1    Laptop  Electronics  55000         5
1          2     Mouse  Electronics    500        25
2          3  Keyboard  Electronics   1500         8
3          4     Chair    Furniture   3500        12
4          5      Desk    Furniture   7000         4