In [1]:
import pandas as pd
import numpy as np

# Create DataFrame
df = pd.DataFrame({
    "Order_ID": [101, 102, 103, 101, 104],
    "Customer_ID": [1, 2, 3, 1, 4],
    "Gender": ["M", "f", "m", "F", None],
    "Age": [25, -5, 130, 30, None],
    "City": ["Delhi", "Mumbai", None, "Delhi", None],
    "Product_Category": ["electronics", "Electronics", "Clothing", "clothing", "ELECTRONICS"],
    "Price": [50000, 20000, 1500, 50000, 30000],
    "Product_Name": ["Laptop", "Mobile", "Shirt", "Laptop", "Tablet"],
    "Quantity": [1, 2, 3, 1, 1],
    "Order_Date": ["2024-01-10", "2024/02/15", "15-03-2024", "2024-01-10", "2024-04-20"]
})

print("Original Data:")
print(df)

Original Data:
   Order_ID  Customer_ID Gender    Age    City Product_Category  Price  \
0       101            1      M   25.0   Delhi      electronics  50000
1       102            2      f   -5.0  Mumbai      Electronics  20000
2       103            3      m  130.0    None         Clothing   1500
3       101            1      F   30.0   Delhi         clothing  50000
4       104            4   None    NaN    None      ELECTRONICS  30000

  Product_Name  Quantity  Order_Date
0       Laptop         1  2024-01-10
1       Mobile         2  2024/02/15
2        Shirt         3  15-03-2024
3       Laptop         1  2024-01-10
4       Tablet         1  2024-04-20

In [2]:
# 1. Remove duplicate orders based on Order_ID
df = df.drop_duplicates(subset="Order_ID")
print("Duplicates removed successfully")

Duplicates removed successfully

In [4]:
# 2. Fix Gender column (M/F to Male/Female)
df["Gender"] = df["Gender"].str.upper().map({"M": "Male", "F": "Female"})
print("Gender column fixed")

Gender column fixed

In [6]:
# 3. Handle age issues (remove invalid ages < 0 or > 100)
df["Age"] = df["Age"].apply(lambda x: x if 0 < x <= 100 else np.nan)
print("Invalid ages handled")

Invalid ages handled

In [8]:
# 4. Fill missing City values using mode
df["City"].fillna(df["City"].mode()[0], inplace=True)
print("Missing city values filled")

Missing city values filled

C:\Users\yashu\AppData\Local\Temp\ipykernel_8740\216300750.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["City"].fillna(df["City"].mode()[0], inplace=True)

In [9]:
# 5. Standardize Product Category (capitalize properly)
df["Product_Category"] = df["Product_Category"].str.strip().str.title()
print("Product category standardized")

Product category standardized

In [10]:
# 6. Convert Order_Date to datetime
df["Order_Date"] = pd.to_datetime(df["Order_Date"], errors="coerce")
print("Order date converted to datetime")

Order date converted to datetime

In [11]:
# 7. Rename columns to lowercase
df.columns = df.columns.str.lower()
print("Columns renamed to lowercase")

Columns renamed to lowercase

In [12]:
print("\nCleaned Data:")
print(df)

Cleaned Data:
   order_id  customer_id  gender   age    city product_category  price  \
0       101            1    Male  25.0   Delhi      Electronics  50000
1       102            2  Female   NaN  Mumbai      Electronics  20000
2       103            3    Male   NaN   Delhi         Clothing   1500
4       104            4     NaN   NaN   Delhi      Electronics  30000

  product_name  quantity order_date
0       Laptop         1 2024-01-10
1       Mobile         2        NaT
2        Shirt         3        NaT
4       Tablet         1 2024-04-20